<div style="display: flex; align-items: center; justify-content: center; height: 90vh;">
    <div class="card mb-3" style="width: 85%;" >
        <div class="row g-0">
          <div class="col-md-4">
            <img 
            [src]="'https://www.artic.edu/iiif/2/' + details.image_id + '/full/843,/0/default.jpg'"
            alt="{{details.thumbnail.alt_text}}" class="img-fluid rounded-start" style="width: 100%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{details.title}}</h5>
              <p class="card-text">{{details.description}}</p>
              <button class="btn btn-primary mt-2" (click)="addItemToWishlist(details)">Wishlist</button>
            </div>
          </div>
        </div>
    </div>
</div>