<nav class="navbar bg-dark" style="padding: 7px 20px;">
  <div class="container-fluid">
    <h3 routerLink="/" class="text-white" style="font-weight: bold; cursor: pointer;">Artify</h3>
    <form class="d-flex" [formGroup]="searchForm">
      <input class="form-control me-2" 
      type="text" 
      placeholder="Search" 
      aria-label="Search" 
      formControlName="searchTerm">
    </form>
    
    <div class="d-flex gap-5 align-items-center">
      <button style="font-size:15px; cursor: pointer;" class="btn btn-primary" title="Wishlist"  routerLink="wishlist">Wishlist</button>
      <button style="font-size:15px; cursor: pointer;" title="Logout" class="btn btn-danger" (click)="handleLogout()">Logout</button>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>