<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand text-white">Home</a>
    <form class="d-flex" [formGroup]="searchForm">
      <input class="form-control me-2" 
      type="text" 
      placeholder="Search" 
      aria-label="Search" 
      formControlName="searchTerm">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <button class="btn btn-primary" routerLink="wishlist">Wishlist</button>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>